.ev-product-list-header {
    text-align: center;
    margin-bottom: 50px;
}

.ev-product-list-wrapper {

    .ev-product-list-single-item {
        margin-bottom: 20px;
        
        .ev-product-list-image {
            max-width: 100%;
            height: 220px;
        }

        .ev-product-description {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100px;
        }
    }
}

.ev-view-product-button-text {
    color:white;
}