$defaultHight: 200px;
$borderColor: grey;

section, aside, footer {
    padding: 20px;
}

.ev-layout {
    background-color: lightblue;
    height: 100vh;
    overflow-x: hidden;
}

.ev-sidebar-hide {
    visibility: hidden;
}

.ev-sidebar-show {
    visibility: visible;
    border-right: 1px solid $borderColor;
}

.ev-main-content-wrapper {
    min-height: 700px;
}

.ev-footer-wrapper {
    height: $defaultHight;
    border-top: 1px solid $borderColor;
}